<div>
<div class="cuadroblanco">
  <h2>Bienvenidos a Shopeame</h2>

  <h2>Subtitulo</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex placeat modi iste pariatur dignissimos ducimus earum deleniti officiis beatae facilis, saepe natus voluptatum accusamus porro quidem! Nemo accusantium ea consequuntur.</p>

  <h2>Subtitulo</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex placeat modi iste pariatur dignissimos ducimus earum deleniti officiis beatae facilis, saepe natus voluptatum accusamus porro quidem! Nemo accusantium ea consequuntur.</p>

  <h2>Subtitulo</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex placeat modi iste pariatur dignissimos ducimus earum deleniti officiis beatae facilis, saepe natus voluptatum accusamus porro quidem! Nemo accusantium ea consequuntur.</p>

</div>

</div>
